[alias]
	aa = add --all
	b = branch
	ba = branch -a
	cm = commit -m
	cam = commit --amend -m
	co = checkout
	cob = checkout -b
	plog = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
	rshard = reset HEAD --hard
